h1 {
    font-size: 1.9375rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.button,
.button.success,
.button.alert {
    margin: 0px;
    vertical-align: middle;
    color: black;
}

.map {
    height: 500px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

#div {
    border: solid 0.5px #aaa6a6;
    height: 100px;
    margin-top: 10px;
}

.selected {
    border-color: rgba(58, 219, 118, 0.63);
    border-width: 8px;
    border-radius: 5px;
    border-style: solid;
}

.postal {
    padding: 10px;
}

.botonPostal {
    margin: auto;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    overflow: hidden;
}

.callout.primary {
    background-color: transparent;
}

.content {
    background-color: rgba(230, 230, 230, 0.33);
}

.portfolio-box {
    display: block;
    position: relative;
    max-width: 650px;
    margin: 10px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(87, 82, 81, 0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

.fi-play-circle {
    font-size: 50px;
}

.fi-pause {
    font-size: 50px;
}